@import "Globals.css";

.container{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    color:  var(--greenLight);
}
.info{
    display: flex;
}
.info > strong{
    display: none;
}
.user{
    padding: 0 0.8rem 0 0.6rem;
}
.container > svg{
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {
    .container{
        display: flex;
        position: fixed;
        top: 6.1rem;
        right: 0rem;
        font-size: 0.782rem;
        color:  var(--beige);
        /* color:  var(--black); */
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-right: 0.5rem;
        line-height: 0.92rem;
    }
    .info > strong{
        display: block;
        text-align: right;
        font-size: 0.87rem;
    }

    .user{
        padding: 0;
    }
}

