@import "Globals.css";

.container{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.cover{
    display: flex;
    width: 100%;
    border: 1px var(--black) solid;
    box-sizing: border-box;
    cursor: pointer;
}

.cover > img{
    width: 100%;
}

.container .cover > img:hover{
    opacity: 0.9;
}

.title{
    font-size: 1.76rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0.44rem 0rem 0.24rem 0rem;
    font-family: var(--font1);
    cursor: pointer;
}

.band{
    margin: 0rem 0rem 0.6rem;
}

.price{
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: 0.2rem;
}

.btContainer{
    display: flex;
    padding-top: 1.4rem;
    justify-content: center;
}

.btContainer > button{
    margin-right: 0.8rem;
}

@media screen and (min-width: 768px) {

    .title{
        min-height: 4rem;
    }
}

