@import "Globals.css";

.container{
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: var(--headerHeightM);
    flex-direction: column;
    align-items: center;
    background: var(--yellow);
    border-bottom: 0.15rem var(--black) solid;
    box-sizing: border-box;
    z-index: var(--indexMedium);
}

.content{
    display:flex;
    align-items: center;
    height: var(--headerHeightM);
    cursor: pointer;
}

.logoContainer{
    height: calc(var(--headerHeightM) - 1.6rem);
    padding: 0.8rem;
}

.title{
    font-family: var(--font1);
    font-size: 2.05rem;
    user-select: none;
}


@media screen and (min-width: 768px) {
    .container{
        height: var(--headerHeight);
    }
    .content{
        height: var(--headingHeight);
    }
    .logoContainer{
        height: calc(var(--headingHeight) - 1.6rem);
        padding: 0.8rem;
    }
    .title{
        font-size: 2.6rem;
    }
}

