@import "Globals.css";

.container{
    display: flex;
    width: 100%;
    min-height: calc(100vh - var(--headerHeightM) - var(--footerHeightM));
    padding: calc(var(--headerHeightM) + 0.6rem) 1rem 1rem 1rem;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .container{
        min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
        padding: calc(var(--headerHeight) + 0.6rem) 1rem 1rem 1rem;
    }
}