/*  VARIABLES */
:root{
    --titleSize: 1.2rem;
    --yellow: #ffdd6f;
    /*--yellow: #ffd23f;*/
    --yellowLight: #fffef8;
    --beige: #cfc79b;
    --grayLight: #fbf9f2;
    --black: #1F271B;
    --green: #00755f;
    --greenLight: #00a788;
    --red: #EE4266;
    --purple: #330544;
    --purple2: #5d0c7a;
   /*  --purple: #540D6E;*/

    --fontColor: #333;
    --font1: "Madimi One", sans-serif;
    --font2: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    --indexTop:100;
    --indexMedium:90;
    --indexLow:80;
    --indexBase:70;

    --maxContentWidth: 1200px;
    --headerHeight: 9rem;
    --headingHeight: 6.05rem;
    --menuHeight: 2.8rem;
    --footerHeight: 3.2rem;

    /* Mobile vars */
    --headerHeightM: 5.2rem;
    --userInfoHeightM: 1.4rem;
    --footerHeightM: 3.2rem;
}