/*  VARIABLES */
:root{
    --titleSize: 1.2rem;
    --yellow: #ffd23f;
    --yellowLight: #fffef1;
    --black: #1F271B;
    --red: #EE4266;
    --purple: #540D6E;
    --fontColor: #333;
    --font1: "Madimi One", sans-serif;
    --font2: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    --headerHeight: 9rem;
    --headerHeightM: 5rem;
    --headingHeight: 6rem;
    --footerHeightM: 3rem;
    --menuHeight: 3rem;
}